.theForge_container{
    display: flex;
    justify-content: center;
    align-content: center;
}

.theForge {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 90%;
    padding: 1rem;
    gap: 1.75rem;
  }
  
  .card {
    background: black;
    padding: .5rem;
    border-radius: .5rem;
    box-shadow: var(--white-glow);
    
  }



  .card_right_top video{
    margin-top: -1rem;
   
  }

  .card_left{
    display: flex;
   
    justify-content: center;
    text-align: center;
    margin-top: 0rem;
    margin-bottom: 0rem;
  }

  .card_left h2{
    font-size: 2rem;
    margin-top: 0rem;
    margin-bottom: 0rem;
    text-shadow: 
    0 0 2px rgb(1, 122, 254, 255),
    0 0 2px rgb(1, 122, 254, 255),
    0 0 2px rgb(1, 122, 254, 255), 
    0 0 2px rgb(1, 122, 254, 255),
    0 0 3px rgb(1, 122, 254, 255),
    0 0 3px rgb(1, 122, 254, 255),
    0 0 3px rgb(1, 122, 254, 255), 
    0 0 5px rgb(1, 122, 254, 255), 
    0 0 5px rgb(1, 122, 254, 255);
}

  
  

  .card_right_top{
    display: flex;
    width: 100%;
    margin-top: 0rem;
  }


  .card_right_bottom_bidding_box_timer{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 2rem;
    margin-top: 0rem;
  }

  .car_right_box_price {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 0;
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
  }
  
  .card_right_box_price_box {
    border: 4px double rgba(1, 122, 254, 255);
    padding: 0rem .45rem;
    border-radius: 0.25rem;
  }
  
  .card_right_box_price_box small {
    background-color: black;
    padding: 0.2rem 0.45rem;
    border-radius: 0.2rem;
    color: white;
    font-size: .75rem;
    border: 4px double rgba(1, 122, 254, 255);
  }
  
  .card_right_box_price_box p {
    font-size: .85rem;
    margin-top: 2rem;
    line-height: 0;
  }

  .card_right_bottom_bidding_box_timer_item span{
    
    margin-bottom: 0rem;
   
  }

  .card_right_bottom_bidding_box_timer_item p{
    margin-top: 0rem;
   
  }

  .card_right_bottom_button{    
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 3rem;
        padding-block: 0rem .5rem;
        font-size: 1rem;
    
    }

    
  .card_right_bottom Button{    
    padding: .5rem 1rem;
    font-size: 1rem;

}

    .detailsButton{
        font-size: 1rem;
        padding: .5rem 1rem;
        border-left: 4px double rgba(1,122,254,255);
        outline: none;
        border-radius: 0.4rem;
        cursor: pointer;
        text-transform: uppercase;
        background-color: rgb(14, 14, 26);
        color: rgb(234, 234, 234);
        font-weight: 200;
        font-family: 'Aldrich', sans-serif;
        transition: 0.6s;
        box-shadow: 0px 0px 60px #1f4c65;
        -webkit-box-reflect: below 10px linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.4));
        }
        
          
          .detailsButton:hover {
            background: rgb(2,29,78);
            background: linear-gradient(270deg, rgba(2, 29, 78, 0.681) 0%, rgba(31, 215, 232, 0.873) 60%);
            color: rgb(4, 4, 38);
          }
    



