.user {
    width: 100%;
    display: flex;
    justify-content: center;

}


.user_box {
    display: grid;
    align-items: center;
    grid-template-columns: 50% 0% 50%;
    width: 80%;
    margin-top: 6rem;
    margin-bottom: 14rem;
    background: #000000;
    justify-items: center;
    
}


.user_box_social {
    order: 3;
    display: flex;
    width: 70%;
    margin-top: 0rem;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    

}


.new_user_box_input_creator{
    display: flex;
    font-size: 1.2rem;
    font-weight: bold;
    gap: 1rem;
    margin-bottom: 2rem;
}


.user_box_or {
    order: 2;
  
}




.form_box {
    order: 1;
    width: 100%;
    margin-top: 0rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: 2rem;
}

.user_box_input {
    margin-top: 0rem;
    width: 80%;
}


/* all input boxes */
.user_box_input_box {
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    font-weight: 600;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto 25px auto;
}

.user_box_input_box_img {
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    font-weight: 600;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto 4rem auto;
}

.user_box_input_box_label {
    font-size: 1.2rem;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    line-height: 0;
    margin-bottom: -.5rem;
}

.user_box_input_box_label a {
    font-size: .7rem;

}

/* all input boxes */
.user_box_input_box input {
    padding: .75rem;
    border-radius: .5rem;
    margin-top: .5rem;
    outline: 0;
    border: 4px double rgba(1, 122, 254, 255);
    background-color: transparent;
}

.user_box_input_box_img input {
    padding: .75rem;
    border-radius: .5rem;
    margin-top: .5rem;
    outline: 0;
    border: 4px double rgba(1, 122, 254, 255);
    background-color: transparent;
}

.continue_button_box {
    display: flex;
    align-items: center;
    justify-content: center;

}

.continue_button {
    display: flex;
    position: relative;
    border: 6px double rgba(1, 122, 254, 255);
}



@media screen and (max-width: 35em) {
    .user_box_social_item {
        font-size: 1rem;
    }
}