
.AuthorProfileCard{
    width: 100%;    
    margin-top: 0rem;
}

.AuthorProfileCard_box{
    width: 100%;
    background: rgb(0, 0, 0);
    border-right: .2rem solid var(--shadow-dark-color);
    padding-top: 4rem;
}

.AuthorProfileCard_box_img{
    display: flex;
    justify-content: center;
}

.AuthorProfileCard_box_img_img{
    border-radius: 50%;
    width: 16rem;
    padding: 0rem;
    margin: 0rem;
}

.AuthorProfileCard_username{
    display: flex;
    width: 100%;
    margin-top: 0rem;
    margin-bottom: 0rem;
    justify-content: center;
}

.AuthorProfileCard_username h2{
    font-size: 2.5rem;
    padding: 0rem;
    margin-top: 0rem;
}

.account_blank{
    width: 100%;
    height: 4rem;
    background-color: black;
}


.settings {
    display: flex;
    justify-content: center;
    align-content: center;
    border-top: .2rem solid var(--shadow-dark-color);
    border-bottom: .2rem solid var(--shadow-dark-color);
    
}

.settings h1 {
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1;

}

.account_socials,
.account_website,
.account_email,
.account_wallet,
.account_username{
    display: grid;
    justify-items: center;
    margin-top: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: rgba(15, 15, 15, 0.863);
    
    
}

.account_website p,
.account_socials p,
.account_email p,
.account_wallet p,
.account_username p {
    display: grid;
    justify-items: center;
    margin-top: 0rem;
    margin-bottom: 0.4rem;
    font-size: 1.1rem;
    text-shadow: 
    0 0 2px rgb(1, 122, 254, 255),
    0 0 2px rgb(1, 122, 254, 255),
    0 0 2px rgb(1, 122, 254, 255), 
    0 0 2px rgb(1, 122, 254, 255),
    0 0 3px rgb(1, 122, 254, 255),
    0 0 3px rgb(1, 122, 254, 255),
    0 0 3px rgb(1, 122, 254, 255), 
    0 0 5px rgb(1, 122, 254, 255), 
    0 0 5px rgb(1, 122, 254, 255);
}

.account_website small,
.account_socials small,
.account_email small,
.account_wallet small,
.account_username small {
    margin-top: 0rem;    
    font-size: 1rem;

}

.account_wallet small:hover{
    margin-top: 0rem;    
    font-size: .8rem;
    cursor: pointer;
   
    color: rgba(1,122,254,255);
}
  
  .social_icons {
    display: flex;
    gap: 1rem;
  }
  
  .social_icons a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;   
    border-radius: 50%;
    color: #fff;
    text-decoration: none;
  }

  
.address_copied {    
    cursor: pointer;
  }

  .address_copied:hover {    
    cursor: pointer;
    color: rgba(1,122,254,255);
  }


.AuthorProfileCard_box_info h2{
    font-size: 2.5rem;
    line-height: 0;
    
}


.AuthorProfileCard_box_info_address input{
    outline: none;
    width: 35%;
    font-size: 1rem;
    border: none;
    background-color: transparent;
}

.AuthorProfileCard_box_info_address_icon{
    transition:  all .3s ease-in;
}

.AuthorProfileCard_box_info_address_icon:hover{
    box-shadow: var(--box-shadow);
    cursor: pointer;
    color: var(--icons-color);
}

.AuthorProfileCard_box_info p{
    font-size: 1.1rem;
    line-height: 1;
    width: 90%;
}

.AuthorProfileCard_box_info_social{
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.5rem;
}


.AuthorProfileCard_box_info_social a{
    background-color: var(--icons-color);
    color: var(--main-bg-color);
    border-radius: 50%;
    display: grid;
    padding: .5rem;
    border: 1px double rgba(1,122,254,255);
    transition: all .3s ease-in;
    cursor: pointer;
}

.AuthorProfileCard_box_info_social a:hover{
    box-shadow: var(--box-shadow);
    background-color: var(--main-bg-color);
    border: 1px double rgba(1,122,254,255);
    color: var(--icons-color);
}

.AuthorProfileCard_box_share{
    display: flex;
    align-items: center;
    align-self: start;
    gap: 2rem;
    position: relative;
}

.AuthorProfileCard_box_share_icon{
    font-size: 2.5rem;
    cursor: pointer;
}

.AuthorProfileCard_box_share_upload{
    position: absolute;
    padding: .5rem;
    width: 15rem;
    box-shadow: var(--box-shadow);
    border-radius: 1rem;
    background-color: var(--main-bg-color);
    left: 2rem;
    top: 5rem;
    z-index: 1111111;
}


.AuthorProfileCard_box_share_upload p{
    display: flex;
    align-items: center;
    line-height: 0;
    gap: 1rem;
    cursor: pointer;
    transition: all .3s ease-in;
    padding: .3rem .5rem;
}

.AuthorProfileCard_box_share_upload p:hover{
    background-color: var(--icons-color);
    color: var(--main-bg-color);
    border-radius: .2rem;
}

.AuthorProfileCard_box_share_upload span{
    font-size: 1.5rem;
}

.AuthorProfileCard_box_share_report{
    position: absolute;
    padding: .5rem;
    width: 10rem;
    box-shadow: var(--box-shadow);
    border-radius: 1rem;
    background-color: var(--main-bg-color);
    left: 5rem;
    top: 4rem;
    z-index: 111111;
}

.AuthorProfileCard_box_share_report p{
    display: flex;
    align-items: center;
    gap: 2rem;
}


@media screen and (max-width: 35em) {
    .AuthorProfileCard_box{
        width: 90%;
        grid-template-columns: 1fr;
        padding: .5rem .5rem 1.5rem;
        gap: 1rem;
    }
    .AuthorProfileCard_box_img{
        width: 50%;
    }

    .AuthorProfileCard_box_info h2{
        font-size: 2rem;
    }

    .AuthorProfileCard_box_info_address input{
        width: 85%;
    }

    .AuthorProfileCard_box_info p{
        font-size: 1rem;
        line-height: 1.4;
        width: 90%;
    }
    .AuthorProfileCard_box_info_social{
        padding:  0 2rem;
    }

    .AuthorProfileCard_box_share{
        grid-column: 1 / -1;
        grid-row:  1 / -1;
        padding: 1rem;
        gap: 1rem;
    }

    .AuthorProfileCard_box_share_icon{
        font-size: 2rem;
    }

    .AuthorProfileCard_box_share_upload{
        left: 9rem;
    }

    .AuthorProfileCard_box_share_report{
        left: 9rem;
    }
}

@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .AuthorProfileCard_box{
        grid-template-columns: 1fr 2fr;
        gap: 1rem;
    }
}