.footer{
    width: 100%;
    padding-block: 1.5rem;
    position: relative;
}

.footer_box{
    width: 80%;
    margin: 0 auto;
    display:  grid;
    grid-template-columns: 1.3fr 1fr 1fr 2fr;
    align-items: flex-start;
    justify-content: space-between;
    gap: 3rem;
}

.footer_box h3 {
    margin-top:0;
}

.footer_box_discover {
    margin-left: 3vw;
}

.footer_box_discover a,
.footer_box_help a {
    margin: 0 -4px;
}

.footer_box_discover div,
.footer_box_help div {
    margin-bottom: 0.5rem;
}

/* SOCIAL */
.footer_social{
    display: flex;
    gap: 1.3rem;
    font-size: 1.5rem;
    align-items: center;
    justify-content: center;
    width: 100%;
}


.footer_social a{
    padding: .5rem;
    border-radius: 50%;
    transition:  all .3s ease-in;
    display: grid;
}

.footer_social a:hover{
    background-color:  var(--icons-color);
    color:  var(--shadow-dark-color);
    box-shadow: var(--box-shadow);
}

.footer_box_social {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer_box_social p {
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.5rem;
    margin-bottom: 0.7rem;
}

.footer_box_social_logo{
    width: 100%;
    height: 100%;
}

/* SUBSCRIBE */
.subscribe h3 {
    padding-left: 1rem;
}

.subscribe_box{
    border: 4px double rgba(1,122,254,255);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: .5rem;    
    border-radius: 1rem; 
}

.subscribe_box input{
    background: transparent;
    border: none;
    outline: none;
    width: 90%;
    color: var(--xdrip-light-gray);
}

.subscribe_box input::placeholder{
    color:  var(--xdrip-light-gray);
}

.subscribe_box_send{
    cursor: pointer;
    font-size: 2rem;
    color:  var(--xdrip-light-gray);
}

.subscribe_box_info p {
    padding: 0.5rem 1rem;
    text-align: center;
    margin-bottom: 0;
}

.footer_box_link {
    width:100%;
    text-align:center;
}

.footer_box_link a {
    display: inline-block;
}

.link_heading {
    font-family: 'Good Timing', sans-serif;
    font-weight: 200;
    font-size:  1rem;
    width: 100%;
}

.link_heading {
    position: relative;
    overflow: hidden;
    display: inline-block;
    vertical-align: top;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition: all 200ms;
    -moz-transition: all 200ms;
    -o-transition: all 200ms;
    transition: all 200ms;
    padding: 4px;
    margin-bottom:0.8em;
    border-radius: 1rem;
    z-index: 2222222222;
}

.link_heading:hover{
    text-shadow: 
    0 0 2px rgb(1, 122, 254, 255),
    0 0 2px rgb(1, 122, 254, 255),
    0 0 2px rgb(1, 122, 254, 255), 
    0 0 2px rgb(1, 122, 254, 255),
    0 0 3px rgb(1, 122, 254, 255),
    0 0 3px rgb(1, 122, 254, 255),
    0 0 3px rgb(1, 122, 254, 255), 
    0 0 5px rgb(1, 122, 254, 255), 
    0 0 5px rgb(1, 122, 254, 255), 
    0 0 8px rgb(1, 122, 254, 255), 
    0 0 10px rgb(1, 122, 254, 255);
}

.link_heading:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 51%;
    right: 51%;
    bottom: 0;
    height: 2px;
    background: white;
    -webkit-transition-property: left,right;
    transition-property: left,right;
    /*-webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;*/
    -webkit-transition-duration: 0.3s, 0.3s, 1s;
    transition-duration: 0.3s, 0.3s, 1s;
    -webkit-transition-delay: 0s, 0s, 1s;
    transition-delay: 0s, 0s, 1s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.link_heading:hover:before,
.link_heading:focus:before,
.link_heading:active:before {
    left: 0;
    right: 0;
    background: #005cfe;
}

/* Tablet & Mobile */
.footer_box_social,
.footer_box_discover,
.footer_box_help,
.subscribe {
    grid-column: span 1;
}

@media screen and (max-width: 1199px) {
    .footer_box {
        width: 90%;
        grid-template-columns: repeat(3, 1fr);
    }
    .subscribe {
        grid-column: span 3;
    }
    .footer_box_discover {
        margin-left: 6vw;
    }
}

@media screen and (max-width: 789px) {
    .footer_box {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto;
        text-align: center;
    }
    .footer_box_social {
        grid-column: span 2;
        grid-row: 1;
    }
    .footer_box_social a {
        font-size: 6vw;
    }
    .footer_box_social p {
        font-size: 4vw;
        margin: 1.5rem auto;
    }
    .footer_box_discover {
        grid-column: 1;
        grid-row: 2;
        margin-left: 0;
    }
    .footer_box_help {
        grid-column: 2;
        grid-row: 2;
    }
    .subscribe {
        grid-column: span 2;
        grid-row: 3;
    }
}