.profile {
    position: absolute;
    padding: 0.25rem 1rem 1rem 1rem;
    box-shadow: 0 5px 5px rgba(255, 255, 255, 0.7);
    font-size: 1rem;
    text-shadow: 1px 1px 3px black;
    width: max-content; /*17rem;*/
    max-width: 20rem;
    border-radius: 0 0 1rem 1rem;
    right: 0;
    top: 90px;
    z-index: 22222222222;
    background-color: #2b2a2a3a;
    text-align: right;
    transition: background-color 0.2s ease;
}

@media screen and (max-width: 428px) { /* depends on width of profile menu links */
    .profile {
        position:fixed;
        left: 50%;
        transform: translateX(-50%);
    }
}

.profileUndocked {
    background-color: #000000e5;
}

.profileMenuContainer {
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 1;
}

.profile_account {
    display: flex;
    align-items: flex-start;
    gap: 2rem;
    padding: 1.5rem;
}

.profile_account_img {
    border-radius: 50%;
}

.profile_account_info {
    line-height: 0.3;
}

.profile_account_info p {
    font-weight: 600;
}

.profile_menu_one_item{
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 0rem 1.5rem;
    transition:  all .3s ease-in;
    cursor: pointer;
}

.profile_menu_one_item:hover {
    background-color: var(--icons-color);
    border-radius: .3rem;
}

.linkContainer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: nowrap;
    /*margin-bottom:0.8em;*/
    position:relative;
}

.linkA {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 1rem;
    font-weight:200;
    letter-spacing:0.05em;
    cursor: pointer;
}

.link svg {
    filter: drop-shadow(0px 1px 2px rgb(0 0 0 / 0.9));
}

.linkText {
    display: flex;
    align-items: center;
    margin-right: 10px;
    text-transform:uppercase;
}

.linkA {
    position: relative;
    overflow: hidden;
    display: inline-flex;
    vertical-align: top;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition: all 200ms;
    -moz-transition: all 200ms;
    -o-transition: all 200ms;
    transition: all 200ms;
    padding: 4px;
    margin-bottom:0.36em;
    border-radius: 1rem;
    z-index: 2222222222;
}

.linkA:hover{
    text-shadow: 
    0 0 2px rgb(1, 122, 254, 255),
    0 0 2px rgb(1, 122, 254, 255),
    0 0 2px rgb(1, 122, 254, 255), 
    0 0 2px rgb(1, 122, 254, 255),
    0 0 3px rgb(1, 122, 254, 255),
    0 0 3px rgb(1, 122, 254, 255),
    0 0 3px rgb(1, 122, 254, 255), 
    0 0 5px rgb(1, 122, 254, 255), 
    0 0 5px rgb(1, 122, 254, 255), 
    0 0 8px rgb(1, 122, 254, 255), 
    0 0 10px rgb(1, 122, 254, 255);
}

.linkA:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 100%;
    right: 31px; /* offset/center bottom animated border effect on icon */
    bottom: 0;
    height: 2px;
    background: white;
    -webkit-transition-property: left;
    transition-property: left;
    -webkit-transition-duration: 0.3s, 0.3s, 1s;
    transition-duration: 0.3s, 0.3s, 1s;
    -webkit-transition-delay: 0s, 0s, 1s;
    transition-delay: 0s, 0s, 1s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.linkA:hover:before,
.linkA:focus:before,
.linkA:active:before {
    left: 0;
    background: #005cfe;
}