
.CreateCollection_box{
    display: grid;
    grid-template-columns: 50% 50%;
    margin-bottom: 14rem;
    gap: 5rem;
    justify-content: center;

}

/* all input boxes */
.user_box_input_box {
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    font-weight: 600;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto 25px auto;
}

.user_box_input_box_label {
    font-size: 1.2rem;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    line-height: 0;
    margin-bottom: -.5rem;
}

.user_box_input_box_label a {
    font-size: .7rem;

}

.toast_container_center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
/* all input boxes */
.user_box_input_box input {
    padding: .75rem;
    border-radius: .5rem;
    margin-top: .5rem;
    outline: 0;
    border: 4px double rgba(1, 122, 254, 255);
    background-color: transparent;
}

.dropzone{
    display: flex;
    width: 100%;
    justify-content: center;
}

.dropzone_item{
    display: flex;
    justify-content: center;
    margin-bottom: -4rem;
}

.upload_dropzone{
    margin-top: 2rem;
    display: grid;
    width: 100%;
    justify-content: center;
    justify-items: center;

}

.dropzone_container{
    display: grid;
    width: 100%;
    margin-bottom: 6rem;
    margin-top: 0rem;
    justify-content: center;
    justify-items: center;
    border: .25rem dotted rgba(1, 122, 254, 255);
    border-radius: .5rem;
}

.dropzone_container label{
    text-align: center;
    padding-bottom:  0rem;
    font-size: 1.5rem;
}

.dropzone_container input{
    text-align: center;
    padding-bottom:  0rem;
}

.upload_details_title{
    display: grid;
    width: 100%;
    margin-top: 4rem;
    margin-bottom:  0rem; 
    justify-content: center;
    justify-items: center;
}

.upload_details_title h2{
    padding-bottom: .25rem;
    border-bottom: 4px double rgba(1,122,254,255); 
 }

.upload_dropzone_title{
   margin-top: 2rem; 
   justify-items: center;
   align-items: center;
   align-content: center;
}

.upload_dropzone_title h2{
    padding-bottom: .25rem;
    border-bottom: 4px double rgba(1,122,254,255); 
 }

 .upload_box{
    width: 100%;
    justify-content: center;
    justify-items: center;

}

.Form_box_input{
    font-size: 2rem;
    
    
}
.upload_box_input_para{
    display: grid;
    grid-template-columns: 4fr, 1fr;
   padding: 0 1rem;
}

.upload_box_slider_div{
 display: flex;
 gap: 1rem;
}

.upload_box_slider{
    border: 4px double rgba(1,122,254,255);
    border-radius: 1rem;
    padding: 1rem;
    cursor: pointer;
}



.upload_box_slider_box{
    display: flex;
    align-items: center;
    gap: 3rem;
}


.upload_box_slider_box_img_img{
    border-radius: 50%;
}

.upload_box_slider_box_img_icon{
    background-color: var(--icons-color);
    color: var(--main-bg-color);
    border-radius: 50%;
    display: grid;
    padding: .2rem;
}

.upload_box_slider p{
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1.2;
}

.upload_box_btn{    
    display: flex;
    padding-left: 0rem;
    justify-content: center;
    align-items: center;
    margin-bottom: 0rem;
    padding-bottom:  0rem;
}

.upload_box_btn_style{
    font-size: 1.1rem;
    padding: 1rem 2.5rem;
    border-left: 4px double rgba(1,122,254,255);
    outline: none;
    border-radius: 0.4rem;
    cursor: pointer;
    text-transform: uppercase;
    background-color: rgb(14, 14, 26);
    color: rgb(234, 234, 234);
    font-weight: 200;
    font-family: 'Aldrich', sans-serif;
    transition: 0.6s;
    box-shadow: 0px 0px 60px #1f4c65;
    -webkit-box-reflect: below 10px linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.4));
}

.upload_box_btn_style:hover{
    background: rgb(2,29,78);
  background: linear-gradient(270deg, rgba(2, 29, 78, 0.681) 0%, rgba(31, 215, 232, 0.873) 60%);
  color: rgb(4, 4, 38);
}

.active{
    background-color: var(--icons-color);
    color: var(--main-bg-color);
}

@media screen and (max-width: 35em) {
    .upload_box_slider_div{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}