.account {
    width: 100%;
    margin-block: 6rem;
}

.account_box_box {
    display: grid;
    grid-template-columns: 20% 80%;

}

.account_info {
    width: 100%;
    margin: 0 auto;
    border-right: .2rem solid var(--shadow-dark-color);
   
}


.account_pfp {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    padding-bottom: .5rem;

}

.account_box_pfp {
    border-radius: 50%;
    width: 8rem;
}

.pfp_button {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    
}

.pfp_button_button {
  background: none; 
  border: .3rem double rgba(1,122,254,255);
  cursor: pointer;     
}

.settings {
    display: flex;
    justify-content: center;
    align-content: center;
    border-top: .2rem solid var(--shadow-dark-color);
    border-bottom: .2rem solid var(--shadow-dark-color);
}

.settings h1 {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1;

}

.account_info_box{
    margin-top: 2.5rem;
}



.account_info_box small {
    font-size: .8rem;    
    line-height: 1;
    margin-top: 0rem;
}

.account_socials,
.account_email,
.account_wallet,
.account_username{
    display: grid;
    justify-items: center;
    margin-top: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: rgba(15, 15, 15, 0.863);
    
}


.account_socials p,
.account_email p,
.account_wallet p,
.account_username p {
    display: grid;
    justify-items: center;
    margin-top: 0rem;
    margin-bottom: 0.4rem;
    font-size: 1.1rem;
    text-shadow: 
    0 0 2px rgb(1, 122, 254, 255),
    0 0 2px rgb(1, 122, 254, 255),
    0 0 2px rgb(1, 122, 254, 255), 
    0 0 2px rgb(1, 122, 254, 255),
    0 0 3px rgb(1, 122, 254, 255),
    0 0 3px rgb(1, 122, 254, 255),
    0 0 3px rgb(1, 122, 254, 255), 
    0 0 5px rgb(1, 122, 254, 255), 
    0 0 5px rgb(1, 122, 254, 255);
}

.account_socials small,
.account_email small,
.account_wallet small,
.account_username small {
    margin-top: 0rem;    
    font-size: 1rem;

}
.address_copied {    
    cursor: pointer;
  }

  .address_copied:hover {    
    cursor: pointer;
    color: rgba(1,122,254,255);
  }
  

.account_box {
display: flex;
justify-content: center;
padding-top: 6rem;
}

.account_box_box_box{
    width: 55%;
 
    
}

.account_box_img {
    margin-top: 2rem;
    cursor: pointer;
    position: relative;
    text-align: center;
}

.profile{
    display: flex;
    justify-content: center;
    align-content: center;
    border-top: .2rem solid var(--shadow-dark-color);
    border-bottom: .2rem solid var(--shadow-dark-color);
}

.profile h1 {
    font-size: 2.2rem;
    line-height: 1;
    font-weight: 400;
}

.account_box_img_para {
    font-weight: 700;
    font-size: 1rem;
    line-height: 0;
}

@media screen and (max-width: 35em) {
    .account_info {
        width: 90%;
    }

    .account_info h1 {
        font-size: 2rem;
    }

    .account_info p {
        font-size: 1rem;
        width: 100%;
    }

    .account_box {
        width: 90%;
        grid-template-columns: 1fr;
    }
}

@media screen and (min-width: 425px) and (max-width: 768px) {
    .account_info {
        width: 90%;
    }

    .account_info h1 {
        font-size: 2rem;
    }

    .account_info p {
        font-size: 1rem;
        width: 100%;
    }

    .account_box {
        width: 90%;
        grid-template-columns: 1fr;
    }
}