.author{
    padding-top: 5.6rem;
   
    padding-bottom: 2rem;
}

.author_box_author{
    display: grid;
    grid-template-columns: 20% 80%;
}

.author_box_profile{
    display: flex;
    width: 100%;
}

.author_box_taps{
  width: 100%;
  margin-top: 12rem;

}

.author_box{
    width: 100%;
   margin-bottom: -8rem;
}
.author_box_cards{
    display: flex;
    width: 100%;
}

@media screen and (max-width: 35em) {
    .author_box{
        width: 90%;
        grid-template-columns: 1fr;
    }
}

@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .author_box{
        width: 90%;
        grid-template-columns: repeat(2, 1fr);
    }
}