.the{
    display: flex;
 
}


.theForge {
  margin-top: 0rem;
  position: relative;
  padding-bottom: 6rem;
  
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}


.video {

    opacity: 0.7; 
  }


.theForge_cont{
     display: flex;
    align-content: center;
    justify-content: center;
    margin-top: 8rem;
    background: black;
}

.theForge_container h1 {
  font-size: 4rem;
  
  margin-bottom: 6rem;
  display: inline-block;
  border-bottom: .5rem double white;
}

.theForge_content {
    
    margin-top: 6rem;
    justify-content: center;
  }

.medalsTitle {
    font-size: 4rem;
    margin-left: 7rem;
    margin-bottom: 2rem;
    margin-top: 3rem;
    display: inline-block;
    border-bottom: .5rem double white;
  }
  
  .medalsText {
    font-size: 1.3rem;
    line-height: 1.4;
    max-width: 100rem;
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 8rem;
    padding-block: 3rem;
    padding-right: 3rem;
    padding-left: 3rem;
    border-radius: .5rem;
    box-shadow: var(--white-glow);
    background-image: url(../img/card-background-5.png);
    
  }