.theForge {
    margin-top: 6rem;
    position: relative;
}

.theForge::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url(../img/bullet-5.png);
    opacity: 0.15; /* Adjust the value as needed (0.0 to 1.0) */
    z-index: -1;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    background-attachment: fixed;
}




.theForge_cont{
     display: flex;
    align-content: center;
    justify-content: center;
}

.theForge_container h1 {
  font-size: 4rem;
  text-align: center;
  margin-bottom: 6rem;
  display: inline-block;
  border-bottom: .5rem double white;
}


